0x02-python-import_modules/.vscode/settings.json
0x02-python-import_modules/__pycache__
0x02-python-import_modules/calculator_1.py
0x03-python-data_structures/100-test_lists.py
0x03-python-data_structures/100-test_lists.py
0x03-python-data_structures/100-test_lists.py
0x03-python-data_structures/100-test_lists.py
0x03-python-data_structures/libPyList.so
0x03-python-data_structures/100-test_lists.py
0x03-python-data_structures/100-test_lists.py
0x04-python-more_data_structures/main_1.py
0x04-python-more_data_structures/main_5.py
0x06-python-classes/__pycache__
0x07-python-test_driven_development/__pycache__
0x0C-python-almost_a_circle/models/__pycache__
0x0C-python-almost_a_circle/10-main.py
0x0C-python-almost_a_circle/11-main.py
0x0C-python-almost_a_circle/15-main.py
0x0C-python-almost_a_circle/16-main.py
0x0C-python-almost_a_circle/17-main.py
0x0C-python-almost_a_circle/8-main.py
0x0C-python-almost_a_circle/9-main.py
0x0C-python-almost_a_circle/Rectangle.json
0x0C-python-almost_a_circle/Square.json
0x0C-python-almost_a_circle/18-main.py
0x0C-python-almost_a_circle/tests/test_models/__pycache__
0x0C-python-almost_a_circle/100-main.py
0x0C-python-almost_a_circle/Rectangle.csv
0x0C-python-almost_a_circle/Square.csv
0x0C-python-almost_a_circle/101-main.py
0x13-javascript_objects_scopes_closures/0-main.js
0x13-javascript_objects_scopes_closures/1-main.js
0x13-javascript_objects_scopes_closures/3-main.js
0x13-javascript_objects_scopes_closures/2-main.js
0x13-javascript_objects_scopes_closures/6-main.js
0x13-javascript_objects_scopes_closures/8-main.js
0x13-javascript_objects_scopes_closures/10-main.js
0x13-javascript_objects_scopes_closures/101-data.js
0x13-javascript_objects_scopes_closures/9-main.js
0x13-javascript_objects_scopes_closures/fileA
0x13-javascript_objects_scopes_closures/fileC
0x13-javascript_objects_scopes_closures/fileB
0x0F-python-object_relational_mapping/__pycache__
0x14-javascript-web_scraping/node_modules
0x14-javascript-web_scraping/package-lock.json
0x14-javascript-web_scraping/package.json
0x14-javascript-web_scraping/loripsum
